# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# System
.DS_Store

# Byte-compiled
__pycache__/

# Databases
*.db
*.sqlite3
*.sqlite