body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
}

/* Центрируем формы авторизации и регистрации */
.form-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 40px rgba(0,0,0,0.1);
    margin: 400px auto; /* <-- центрирование */
}

h1, h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

/* Дашборд */
.dashboard-container {
    padding: 40px;
    margin-top: 25px;
}

.add-item-block {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fafafa;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button, .btn {
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, .btn:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    table-layout: fixed;
}

table th, table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    gap: 10px;
}

.home-btn {
    text-align: center;
    margin-top: 20px;
}
